*,
*::before,
*::after {
  box-sizing: border-box;
}

input[data-hmi-slider] {
  accent-color: var(--hmi-slider-thumb-background, auto);
}

@keyframes hmi-symbolic-base-flash {
  0%, 49.999% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

@keyframes hmi-symbolic-alternate-flash {
  0%, 49.999% { opacity: 0; }
  50%, 100% { opacity: 1; }
}
